body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

h1, h2 {
    color: #007BFF;
    font-weight: bold;
}

h5 {
    color: #555;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
}

.experience h5 {
    margin-top: 20px;
    color: #0056b3;
}

footer {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

footer p {
    margin: 0;
}
