.top-text {
  color: black;
  text-decoration: black;
  align-content: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Full viewport height */
  position: relative;
}
