{% extends 'htmlfiles/base.html' %} {% block content %} {% load static %}

<div class="container my-5">
  <h2 class="text-center">CV Form</h2>
  <form
    action="{% url 'cv_view' %}"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <!-- Personal Information Section -->
    <div class="mb-4 border border-primary px-3 py-2">
      <h4>Personal Information</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="first_name"
              name="first_name"
              placeholder="John"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="last_name"
              name="last_name"
              placeholder="Doe"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="john.doe@example.com"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              placeholder="123-456-7890"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="about" class="form-label">About You</label>
            <textarea
              id="about"
              name="about"
              class="form-control"
              rows="4"
              placeholder="Write a little about yourself"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Education Section -->
    <div id="education-section" class="mb-4 border border-primary px-3 py-2">
      <h4>Education</h4>
      <div class="education-entry">
        <div class="row">
          <div class="col-md-6">
            <label for="degree" class="form-label">Degree</label>
            <input
              type="text"
              class="form-control"
              name="education_degree[]"
              placeholder="e.g., B.Sc. in Computer Science"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="institution" class="form-label">Institution</label>
            <input
              type="text"
              class="form-control"
              name="education_institution[]"
              placeholder="e.g., University Name"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="institution" class="form-label"
              >Institution Location</label
            >
            <input
              type="text"
              class="form-control"
              name="education_location[]"
              placeholder="e.g., University Location"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="start_date" class="form-label">Start Date</label>
            <input
              type="date"
              class="form-control"
              name="education_start_date[]"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="end_date" class="form-label">End Date</label>
            <input
              type="date"
              class="form-control"
              name="education_end_date[]"
            />
          </div>
        </div>
        <button type="button" class="btn btn-danger mt-3 remove-education">
          Delete
        </button>
        <hr class="my-3" />
      </div>
      <button type="button" class="btn btn-secondary" id="add-education">
        Add More Education
      </button>
    </div>
    <!-- Work Experience Section -->
    <div id="experience-section" class="mb-4 border border-primary px-3 py-2">
      <h4>Experience</h4>
      <div class="experience-entry">
        <div class="row">
          <div class="col-md-6">
            <label for="job_title" class="form-label">Job Title</label>
            <input
              type="text"
              class="form-control"
              name="experience_title[]"
              placeholder="e.g., Software Engineer"
              required
            />
          </div>
          <div class="col-md-6">
            <label class="form-label">Company</label>
            <input
              type="text"
              class="form-control"
              name="experience_company[]"
              placeholder="e.g., Google"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="location" class="form-label">Company Location</label>
            <input
              type="text"
              class="form-control"
              name="experience_location[]"
              placeholder="e.g., Germany"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="experience_start_date" class="form-label"
              >Start Date</label
            >
            <input
              type="date"
              class="form-control"
              name="experience_start_date[]"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="experience_end_date" class="form-label">End Date</label>
            <input
              type="date"
              class="form-control"
              name="experience_end_date[]"
            />
          </div>
        </div>

        <!-- Responsibilities Textarea -->
        <div class="mb-3">
          <label for="responsibilities" class="form-label"
            >Responsibilities</label
          >
          <textarea
            id="responsibilities"
            name="experience_responsibilities[]"
            class="form-control"
            rows="4"
            placeholder="Describe your responsibilities"
            oninput="addBullets(this)"
          ></textarea>
        </div>

        <button type="button" class="btn btn-danger mt-3 remove-experience">
          Delete
        </button>
        <hr class="my-3" />
      </div>
      <button type="button" class="btn btn-secondary" id="add-experience">
        Add More Experience
      </button>
    </div>

    <!-- Skills Section -->
    <div class="mb-4 border border-primary px-3 py-2">
      <h4>Skills</h4>
      <input
        type="text"
        class="form-control"
        name="skills"
        placeholder="Programming Languages, Tools, etc."
        required
      />
    </div>

    <!-- Contact Information Section -->
    <div class="mb-4 border border-primary px-3 py-2">
      <h4>Contact Information</h4>
      <input
        type="text"
        class="form-control mb-2"
        name="address"
        placeholder="123 Main Street"
        required
      />
      <input
        type="text"
        class="form-control mb-2"
        name="city"
        placeholder="City"
        required
      />
      <input
        type="text"
        class="form-control mb-2"
        name="state"
        placeholder="State"
        required
      />
      <input
        type="text"
        class="form-control mb-2"
        name="zip_code"
        placeholder="Zip Code"
        required
      />
    </div>
    <div class="form-group pt-3 pb-5 border border-primary px-3 py-2">
      <label for="photo">Upload Photo</label>
      <input
        type="file"
        name="photo"
        id="photo"
        class="form-control"
        accept="image/*"
        required
      />
    </div>
    <div
      class="d-flex justify-content-center mt-4 pt-3 pb-3 border border-primary px-3 py-2"
    >
      <label class="card card-selectable" style="width: 18rem; cursor: pointer">
        <input
          type="radio"
          name="template_selection"
          value="temp1.html"
          class="form-check-input d-none"
          id="card1"
        />
        <img
          src="{% static 'cvmaker/img/tem1.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text" style="text-decoration: none">
            <a
              style="text-decoration: none"
              href="{% static 'cvmaker/img/tem1.png' %}"
              >Preview: Template 1</a
            >
          </p>
        </div>
      </label>
      <label class="card card-selectable" style="width: 18rem; cursor: pointer">
        <input
          type="radio"
          name="template_selection"
          value="temp2.html"
          class="form-check-input d-none"
          id="card2"
        />
        <img
          src="{% static 'cvmaker/img/tem2.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            <a
              style="text-decoration: none"
              href="{% static 'cvmaker/img/tem2.png' %}"
              >Preview: Template 2</a
            >
          </p>
        </div>
      </label>
      <label class="card card-selectable" style="width: 18rem; cursor: pointer">
        <input
          type="radio"
          name="template_selection"
          value="temp3.html"
          class="form-check-input d-none"
          id="card2"
        />
        <img
          src="{% static 'cvmaker/img/tem3.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            <a
              style="text-decoration: none"
              href="{% static 'cvmaker/img/tem3.png' %}"
              >Preview: Template 3</a
            >
          </p>
        </div>
      </label>
      <label class="card card-selectable" style="width: 18rem; cursor: pointer">
        <input
          type="radio"
          name="template_selection"
          value="temp3.html"
          class="form-check-input d-none"
          id="card2"
        />
        <img
          src="{% static 'cvmaker/img/tem3.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            <a
              style="text-decoration: none"
              href="{% static 'cvmaker/img/tem3.png' %}"
              >European Template</a
            >
          </p>
        </div>
      </label>
    </div>

    <!-- Submit Button -->
    <div
      class="d-flex justify-content-center pt-5"
      style="margin-bottom: 100px"
    >
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function showWarning(message) {
        // Create a warning alert dynamically
        const warningAlert = document.createElement('div');
        warningAlert.className =
          'alert alert-warning position-fixed top-0 start-50 translate-middle-x';
        warningAlert.style.zIndex = 1050; // Ensure it's on top
        warningAlert.innerText = message;

        // Append it to the body
        document.body.appendChild(warningAlert);

        // Remove after 3 seconds
        setTimeout(() => {
          warningAlert.remove();
        }, 3000);
      }

      document.addEventListener('DOMContentLoaded', () => {
        document.addEventListener('click', (e) => {
          if (e.target && e.target.classList.contains('remove-education')) {
            const educationSection =
              document.querySelector('.education-entry').parentNode;
            const educationEntries =
              educationSection.querySelectorAll('.education-entry');

            // If only one entry remains, show a warning and prevent deletion
            if (educationEntries.length === 1) {
              showWarning('You cannot delete the initial education entry.');
            } else {
              e.target.closest('.education-entry').remove();
            }
          }

          if (e.target && e.target.classList.contains('remove-experience')) {
            const experienceSection =
              document.querySelector('.experience-entry').parentNode;
            const experienceEntries =
              experienceSection.querySelectorAll('.experience-entry');

            // If only one entry remains, show a warning and prevent deletion
            if (experienceEntries.length === 1) {
              showWarning('You cannot delete the initial experience entry.');
            } else {
              e.target.closest('.experience-entry').remove();
            }
          }
        });
      });

      // Add More Education
      document
        .getElementById('add-education')
        .addEventListener('click', function () {
          const educationSection =
            document.querySelector('.education-entry')?.parentNode;
          if (educationSection) {
            const newEntry = document
              .querySelector('.education-entry')
              ?.cloneNode(true);
            if (newEntry) {
              newEntry
                .querySelectorAll('input')
                .forEach((input) => (input.value = ''));
              educationSection.appendChild(newEntry);
            }
          }
        });

      // Add More Experience
      document
        .getElementById('add-experience')
        .addEventListener('click', function () {
          const experienceSection =
            document.querySelector('.experience-entry')?.parentNode;
          if (experienceSection) {
            const newEntry = document
              .querySelector('.experience-entry')
              ?.cloneNode(true);
            if (newEntry) {
              newEntry
                .querySelectorAll('input')
                .forEach((input) => (input.value = ''));
              experienceSection.appendChild(newEntry);
            }
          }
        });

      document.querySelectorAll('.card-select').forEach((card) => {
        card.addEventListener('click', function () {
          // Deselect all cards
          document.querySelectorAll('.card-select').forEach((card) => {
            card.classList.remove('selected');
          });

          // Select the clicked card
          card.classList.add('selected');

          // Optionally, handle the selected template
          const selectedTemplate = card.getAttribute('data-template');
          console.log(`Selected: ${selectedTemplate}`);
        });
      });
    </script>

    {% endblock %}
  </form>
</div>
