{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'cvmaker/css/tem1.css'%}" />

    <title>CV Template</title>
  </head>

  <body>
    <div class="cv-container" id="cv-content">
      <header class="cv-header">
        <div class="cv-info">
          <h1>{{ personal_info.first_name }} {{ personal_info.last_name }}</h1>
          <p><strong>Phone:</strong> {{ personal_info.phone }}</p>
          <p><strong>Email:</strong> {{ personal_info.email }}</p>
          <p>
            <strong>Address:</strong> {{ contact_info.address }},
            {{contact_info.city }}, {{ contact_info.zip_code }}
          </p>
        </div>

        <!-- Photo displayed on the right -->
        {% if personal_info.photo_base64 %}
        <img
          src="data:image/jpeg;base64,{{ personal_info.photo_base64 }}"
          alt="Uploaded Photo"
        />
        {% endif %}
      </header>
      <section class="cv-section">
        <h2>About me</h2>
        <p>{{personal_info.about}}</p>
      </section>

      <section class="cv-section">
        <h2>Experience</h2>
        {% for entry in experience %}
        <div class="cv-item">
          <!-- Date and Company Information -->
          <div class="cv-dates">
            <p>
              {{ entry.start_date|default:"Unknown" }} -
              {{entry.end_date|default:"Present" }}
            </p>
            <p>
              <strong align="center"
                >{{ entry.title|default:"No Title Provided" }}</strong
              >
            </p>
            <blockquote>
              <i>{{ entry.company }}, {{ entry.location }}</i>
            </blockquote>
          </div>

          <!-- Responsibilities -->
          <div class="cv-details">
            {% if entry.responsibilities %}
            <div class="responsibilities">
              <p><b>Responsibilities:</b></p>
              <ul>
                {% for responsibility in entry.responsibilities.splitlines %}
                {%if responsibility.strip %}
                <li>{{ responsibility.strip }}</li>
                {% endif %} {% endfor %}
              </ul>
            </div>
            {% else %}
            <p>No specific responsibilities listed.</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </section>

      <section class="cv-section">
        <h2>Skills</h2>
        <div class="skill-container">
          {% for skill in skills %}
          <span class="skill-badge">{{ skill }}</span>
          {% endfor %}
        </div>
      </section>

      <section class="cv-section">
        <h2>Education</h2>
        {% for entry in education %}
        <div class="cv-item">
          <p>
            <strong>{{ entry.start_date }} - {{ entry.end_date }}</strong>
          </p>
          <div>
            <p>
              <strong>{{ entry.degree }}</strong>, {{ entry.institution }},
              {{entry.location }}
            </p>
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
    <!-- Fixed Buttons -->
    <div class="fixed-buttons">
      <button id="generate-pdf">Export as PDF</button>
    </div>
    <script>
      document
        .getElementById('generate-pdf')
        .addEventListener('click', function () {
          const element = document.getElementById('cv-content');
          const date = new Date().toISOString().split('T')[0]; // Get the current date in YYYY-MM-DD format

          const options = {
            margin: 0,
            filename: `{{ personal_info.first_name }}_{{ personal_info.last_name }}_${date}.pdf`,
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
          };

          html2pdf().from(element).set(options).save();
        });
    </script>
  </body>
</html>
