{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Julius+Sans+One&family=Open+Sans&family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'cvmaker/css/tem2.css'%}" />
  </head>
  <body>
    <page size="A4">
      <div class="container" id="cv-content">
        <div class="leftPanel">
          {% if personal_info.photo_base64 %}
          <img
            src="data:image/jpeg;base64,{{ personal_info.photo_base64 }}"
            alt="Uploaded Photo"
          />
          {% endif %}
          <div class="details">
            <div class="item bottomLineSeparator">
              <h2>CONTACT</h2>
              <div class="smallText">
                <p>
                  <i class="fa fa-phone contactIcon" aria-hidden="true"></i>
                  {{ personal_info.phone }}
                </p>
                <p>
                  <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                  <a href="lorem@ipsum.com@gmail.com">
                    {{ personal_info.email }}</a
                  >
                </p>
                <p>
                  <i
                    class="fa fa-map-marker contactIcon"
                    aria-hidden="true"
                  ></i>
                  {{ contact_info.address }}, {{contact_info.city }},
                  {{contact_info.zip_code }}
                </p>
              </div>
            </div>
            <div class="item bottomLineSeparator">
              <h2>Skills</h2>
              <div class="skill-container">
                {% for skill in skills %}
                <span class="skill-badge">{{ skill }}</span><br />
                {% endfor %}
              </div>
            </div>
            <div class="item">
              <h2>EDUCATION</h2>
              {% for entry in education %}
              <div class="smallText">
                <p class="bolded white">{{ entry.degree }}</p>
                <p>{{ entry.institution }}, {{entry.location }}</p>
                <p>
                  {{ entry.start_date }} - {{entry.end_date|default:"Present"}}
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="rightPanel">
          <h1>{{ personal_info.first_name }} {{ personal_info.last_name }}</h1>
          <div class="smallText">
            <h3>{{ personal_info.title }}</h3>
          </div>
          <div>
            <h2>About me</h2>
            <div class="smallText">
              <p>{{personal_info.about}}</p>
            </div>
          </div>
          <div class="workExperience">
            <h2>Work Experience</h2>
            <ul>
              {% for entry in experience %}
              <li>
                <div class="jobPosition">
                  <span class="bolded"
                    >{{ entry.title|default:"No Title Provided" }}</span
                  >
                  <span
                    >{{ entry.start_date|default:"Unknown" }} -
                    {{entry.end_date|default:"Present" }}</span
                  >
                </div>
                <div class="projectName bolded">
                  <span
                    >{{ entry.project_name|default:"Project name" }} |
                    {{entry.company|default:"Company name" }}</span
                  >
                </div>
                <div class="responsibilities">
                  {% if entry.responsibilities %}
                  <p class="smallText"><b>Responsibilities:</b></p>
                  <ul>
                    {% for responsibility in entry.responsibilities.splitlines%}
                    {% if responsibility.strip %}
                    <li>{{ responsibility.strip }}</li>
                    {% endif %} {% endfor %}
                  </ul>
                  {% else %}
                  <p>No specific responsibilities listed.</p>
                  {% endif %}
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </page>
    <div class="fixed-buttons">
      <button id="generate-pdf">Export as PDF</button>
    </div>
    <script>
      document
        .getElementById('generate-pdf')
        .addEventListener('click', function () {
          const element = document.getElementById('cv-content');
          const date = new Date().toISOString().split('T')[0]; // Get the current date in YYYY-MM-DD format

          const options = {
            margin: 0,
            filename: `{{ personal_info.first_name }}_{{ personal_info.last_name }}_${date}.pdf`,
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
          };

          html2pdf().from(element).set(options).save();
        });
    </script>
  </body>
</html>
